.contact-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.contact-heading {
    text-align: center;
}

.contact-intro {
    margin-bottom: 20px;
}

.submit-button {
    position: relative; 
    right: -16px;        
}


.social-links {
    margin-top: 20px;
}

.social-links ul {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

