.projects-container {
  background-color: #fafafa;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
  padding: 50px;
  margin-top: 20px;
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-title {
  color: #053742;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
}

.projects-text {
  font-size: 18px;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  color: #666;
  text-align: center;
}

