.main-layout {
  display: flex; 
  flex-direction: row; 
  height: 100vh; /*Full viewport height */
}

.content {
   flex-grow: 1;/* Ensures it takes the remaining space */
   /*overflow-y: auto; Adds scroll to content area if needed */
   padding: 20px; /*Padding around the content */
}
